ul {
	list-style-type: none;
}

img {
	width: 150px;
	height: 150px;
}

div .thumbnail:hover {
	border-style: solid;
    border-color: #f65f5f;
    background-color: #FEF7F7;
}

div .thumbnail{
	height: 200px;
	width: 120px;
	overflow: hidden;
}

div .thumbnail img {
	width: 120px;
	height: 90px;
}


